Repository stackrox/acs-fleet-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated-files, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: generated-files
      name: Verifying generated files are uptodate
      entry: ./scripts/generated-files-uptodate.sh
      language: system
      require_serial: true
      pass_filenames: true
      stages: [pre-push, manual]
      files: '(openapi/.*|pkg/workers/worker_interface.go|pkg/client/ocm/id.go|pkg/client/aws/client.go|pkg/client/ocm/client.go|pkg/client/iam/client.go|pkg/services/authorization/authorization.go|pkg/services/sso/iam_service.go|pkg/client/redhatsso/client.go|pkg/auth/auth_agent_service.go|internal/central/pkg/services/cluster_placement_strategy.go|internal/central/pkg/services/cloud_providers.go|internal/central/pkg/services/clusters.go|internal/central/pkg/services/quota.go|internal/central/pkg/services/quota_service_factory.go|internal/central/pkg/clusters/cluster_builder.go|internal/central/pkg/clusters/provider.go|internal/central/pkg/services/central.go)'
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
        exclude: '^(?:secrets/db.*|internal/central/pkg/api/(admin|private|public)/.*|pkg/client/redhatsso/api/.*|emailsender/pkg/client/openapi/.*)$' # Matches either secrets/db.* files or the generated files under internal/central/pkg/api/(admin|private|public) and pkg/client/redhatsso/client/api.
      - id: check-json
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        # Ignore scripts generated by openapi-generator.
        exclude: '^(?:internal/central/pkg/api/.*|pkg/client/redhatsso/api/.*|emailsender/pkg/client/openapi/.*)$'
  - repo: local
    hooks:
      - id: code/check
        name: make code/check
        entry: make code/check
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: actionlint
        name: lint GitHub Actions workflow files
        description: Runs actionlint to lint GitHub Actions workflow files
        entry: actionlint
        language: golang
        # This dependency can't be updated with 'pre-commit autoupdate'. Please bump it manually when necessary.
        additional_dependencies: [github.com/rhysd/actionlint/cmd/actionlint@v1.6.24]
        types: [ "yaml" ]
        files: "^.github/workflows/"

address PR review
  internal/central/pkg/api/admin/private/api/openapi.yaml
  internal/central/pkg/api/admin/private/model_central_billing_change_request.go
  internal/central/pkg/api/admin/private/model_central_subscription_change_request.go
  internal/central/pkg/services/central_test.go
  openapi/fleet-manager-private-admin.yaml
Due: generated-files

ROX-36893: allow unsetting billing parameters via admin API (#2800)
  .pre-commit-config.yaml
  internal/central/pkg/api/admin/private/api/openapi.yaml
  internal/central/pkg/api/admin/private/model_central_billing_change_request.go
  internal/central/pkg/api/admin/private/model_central_subscription_change_request.go
  internal/central/pkg/services/central.go
  internal/central/pkg/services/central_test.go
  openapi/fleet-manager-private-admin.yaml
Due: generated-files

chore: remove unused VPA deployment and tests
  dev/config/gitops-config.yaml
  dev/env/defaults/00-defaults.env
  dev/env/defaults/cluster-type-crc/env
  dev/env/defaults/cluster-type-openshift/env
  dev/env/manifests/shared/00-namespace.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/01-namespace.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/02-subscription.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/03-operator-group.yaml
  dev/env/manifests/vertical-pod-autoscaler/README.md
  dev/env/manifests/vertical-pod-autoscaler/gencerts.sh
  dev/env/manifests/vertical-pod-autoscaler/vpa.yaml
  dev/env/scripts/bootstrap.sh
  dev/env/scripts/lib.sh
  e2e/e2e_canary_upgrade_test.go
Due: none

chore: bump dev operator to 4.11.3
  dev/config/gitops-config.yaml
Due: none

chore: remove operator bump from this branch
  dev/config/gitops-config.yaml
Due: none

delete VPA image-pull-secret creation
  dev/env/scripts/create-imagepullsecrets
Due: none

chore(dev): bump ACS operator to 4.11.3 (#2811)
  dev/config/gitops-config.yaml
Due: none

chore(e2e): remove unused VPA deployment and tests (#2810)
  dev/env/defaults/00-defaults.env
  dev/env/defaults/cluster-type-crc/env
  dev/env/defaults/cluster-type-openshift/env
  dev/env/manifests/shared/00-namespace.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/01-namespace.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/02-subscription.yaml
  dev/env/manifests/vertical-pod-autoscaler-olm/03-operator-group.yaml
  dev/env/manifests/vertical-pod-autoscaler/README.md
  dev/env/manifests/vertical-pod-autoscaler/gencerts.sh
  dev/env/manifests/vertical-pod-autoscaler/vpa.yaml
  dev/env/scripts/bootstrap.sh
  dev/env/scripts/create-imagepullsecrets
  dev/env/scripts/lib.sh
  e2e/e2e_canary_upgrade_test.go
Due: none

chore: change central compat test to roxie (#2798)
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/central-values.yaml
  scripts/ci/central_compatibility/roxie-config.yaml
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint
