Repository stackrox/acs-fleet-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated-files, actionlint

generated-files:
  name: Verifying generated files are uptodate
  entry: ./scripts/generated-files-uptodate.sh
  language: system
  require_serial: true
  pass_filenames: true
  stages:
  - pre-push
  - manual

actionlint:
  name: lint GitHub Actions workflow files
  description: Runs actionlint to lint GitHub Actions workflow files
  entry: actionlint
  language: golang
  additional_dependencies:
  - github.com/rhysd/actionlint/cmd/actionlint@v1.6.24

Drop logging
  internal/central/pkg/config/central.go
Due: none

ROX-31635: Add design proposal for removing observatorium metrics federation.:
  .design-proposals/observatorium-metrics-removal.md
  .gitignore
Due: none

ROX-31635: Remove Observatorium metrics federation
  Makefile
  internal/central/pkg/api/public/api/openapi.yaml
  internal/central/pkg/api/public/model_instant_query.go
  internal/central/pkg/api/public/model_metrics_instant_query_list.go
  internal/central/pkg/api/public/model_metrics_range_query_list.go
  internal/central/pkg/api/public/model_range_query.go
  internal/central/pkg/api/public/model_values.go
  openapi/fleet-manager.yaml
  pkg/metrics/metrics.go
Due: generated-files

ROX-31828: Declare fleetshard-sync AWS role ARN as a helm value instead of SSM parameter
  dev/env/manifests/fleetshard-operator/51-fleetshard-cr.yaml
  dev/env/manifests/fleetshard-sync/01-fleetshard-sync-secrets.yaml
  dp-terraform/helm/rhacs-terraform/templates/fleetshard-sync-secret.yaml
  dp-terraform/helm/rhacs-terraform/templates/fleetshard-sync.yaml
  dp-terraform/helm/rhacs-terraform/values.yaml
Due: none

Fix E2E tests after switching Central CR names to the static value
  e2e/e2e_canary_upgrade_test.go
  e2e/e2e_suite_test.go
  e2e/e2e_test.go
Due: none

ROX-31828: Declare fleetshard-sync AWS role ARN as a helm value instead of an SSM parameter (#2488)
  dev/env/manifests/fleetshard-operator/51-fleetshard-cr.yaml
  dev/env/manifests/fleetshard-sync/01-fleetshard-sync-secrets.yaml
  dp-terraform/helm/rhacs-terraform/templates/fleetshard-sync-secret.yaml
  dp-terraform/helm/rhacs-terraform/templates/fleetshard-sync.yaml
  dp-terraform/helm/rhacs-terraform/values.yaml
  e2e/e2e_canary_upgrade_test.go
  e2e/e2e_suite_test.go
  e2e/e2e_test.go
Due: none

Bump envoy version to 1.28.8
  templates/service-template.yml
Due: none

Fix InternalCentralIDs reading and log flag values
  internal/central/pkg/config/central.go
Due: none

Fix reading values
  internal/central/pkg/config/central.go
Due: none

Set 15.10 as default RDS version
  fleetshard/config/config.go
  fleetshard/pkg/central/cloudprovider/awsclient/rds_test.go
Due: none

ROX-31105: Fix InternalCentralIDs reading (#2478)
  internal/central/pkg/config/central.go
Due: none

ROX-32009: Set 15.10 as default RDS version (#2494)
  fleetshard/config/config.go
  fleetshard/pkg/central/cloudprovider/awsclient/rds_test.go
Due: none

disable all scanners in emailsender central comp test
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: none

fix: disable all scanners in emailsender central comp test (#2495)
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: none

output logs to artifacts instead of console
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/entrypoint.sh
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint

force failure for testing
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: none

fix log dir
  scripts/ci/central_compatibility/entrypoint.sh
Due: none

better logs
  scripts/ci/central_compatibility/entrypoint.sh
Due: none

remove force fail exit
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: none

PR feedback
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/entrypoint.sh
Due: actionlint

ROX-32045: output emailsender test kube logs to artifacts (#2497)
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/entrypoint.sh
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint

ROX-32050: Remove parameter store usages
  deploy/charts/emailsender/templates/emailsender-secret.yaml
  deploy/charts/emailsender/templates/emailsender.yaml
  deploy/charts/emailsender/values.yaml
Due: none

Remove setup osd cluster idp
  docs/development/setup-osd-cluster-idp.md
  dp-terraform/osd-cluster-idp-setup.sh
Due: none

Remove Parameter Store usages
  dev/env/manifests/emailsender-db/emailsender-db.yaml
  dev/env/manifests/external-secrets/secretstore/01-clustersecretstore.yaml
  dev/env/values/emailsender/values.yaml
  fleetshard/README.md
  scripts/lib/external_config.sh
Due: none

ROX-32050: Remove Parameter Store usages (#2498)
  deploy/charts/emailsender/templates/emailsender-secret.yaml
  deploy/charts/emailsender/templates/emailsender.yaml
  deploy/charts/emailsender/values.yaml
  dev/env/manifests/emailsender-db/emailsender-db.yaml
  dev/env/manifests/external-secrets/secretstore/01-clustersecretstore.yaml
  dev/env/values/emailsender/values.yaml
  docs/development/setup-osd-cluster-idp.md
  dp-terraform/osd-cluster-idp-setup.sh
  fleetshard/README.md
  scripts/lib/external_config.sh
Due: none

Add a workflow which restarts failed Konflux builds
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

ROX-32066: Add a workflow which restarts failed Konflux builds (#2516)
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

Update konflux-auto-retest.yml for job configuration
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

ROX-32066: Fix konflux-auto-retest.yml for job configuration (#2519)
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

ci(emailsender): optimize compatibility test
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint

Fix workflow
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

Rename job
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

ci(emailsender): optimize compatibility test (#2518)
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint

ROX-32066: Fix Konflux retest workflow (#2520)
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

fix(e2e-tests): Use jsonpath instead of condition in the kubectl wait condtion
  dev/env/scripts/lib.sh
Due: none

fix(e2e-tests): Use jsonpath instead of condition when waiting for CRD (#2521)
  dev/env/scripts/lib.sh
Due: none

fix(e2e-tests): wait for status.conditions to exist before using kubectl wait
  dev/env/scripts/lib.sh
Due: none

fix(e2e-tests): wait for status.conditions to exist before using kubectl wait (#2522)
  dev/env/scripts/lib.sh
Due: none

Path conditions:
  generated-files: any of: (openapi/.*|pkg/workers/worker_interface.go|pkg/client/ocm/id.go|pkg/client/aws/client.go|pkg/client/ocm/client.go|pkg/client/iam/client.go|pkg/services/authorization/authorization.go|pkg/services/sso/iam_service.go|pkg/client/redhatsso/client.go|pkg/auth/auth_agent_service.go|internal/central/pkg/services/cluster_placement_strategy.go|internal/central/pkg/services/cloud_providers.go|internal/central/pkg/services/clusters.go|internal/central/pkg/services/quota.go|internal/central/pkg/services/fleetshard_operator_addon.go|internal/central/pkg/services/quota_service_factory.go|internal/central/pkg/clusters/cluster_builder.go|internal/central/pkg/clusters/provider.go|internal/central/pkg/services/central.go)
  actionlint: any of: ^.github/workflows/ and \.(yaml|yml)$
