Repository stackrox/acs-fleet-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated-files, actionlint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
    - id: generated-files
      name: Verifying generated files are uptodate
      entry: ./scripts/generated-files-uptodate.sh
      language: system
      require_serial: true
      pass_filenames: true
      stages: [pre-push, manual]
      files: '(openapi/.*|pkg/workers/worker_interface.go|pkg/client/ocm/id.go|pkg/client/aws/client.go|pkg/client/ocm/client.go|pkg/client/iam/client.go|pkg/services/authorization/authorization.go|pkg/services/sso/iam_service.go|pkg/client/redhatsso/client.go|pkg/auth/auth_agent_service.go|internal/central/pkg/services/cluster_placement_strategy.go|internal/central/pkg/services/cloud_providers.go|internal/central/pkg/services/clusters.go|internal/central/pkg/services/quota.go|internal/central/pkg/services/quota_service_factory.go|internal/central/pkg/clusters/cluster_builder.go|internal/central/pkg/clusters/provider.go|internal/central/pkg/services/central.go)'
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ["--baseline", ".secrets.baseline"]
  - repo: https://github.com/golangci/golangci-lint
    rev: v2.8.0
    hooks:
      - id: golangci-lint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
        exclude: '^(?:secrets/db.*|internal/central/pkg/api/(admin|private|public)/.*|pkg/client/redhatsso/api/.*|emailsender/pkg/client/openapi/.*)$' # Matches either secrets/db.* files or the generated files under internal/central/pkg/api/(admin|private|public) and pkg/client/redhatsso/client/api.
      - id: check-json
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        # Ignore scripts generated by openapi-generator.
        exclude: '^(?:internal/central/pkg/api/.*|pkg/client/redhatsso/api/.*|emailsender/pkg/client/openapi/.*)$'
  - repo: local
    hooks:
      - id: code/check
        name: make code/check
        entry: make code/check
        language: system
        pass_filenames: false
  - repo: local
    hooks:
      - id: actionlint
        name: lint GitHub Actions workflow files
        description: Runs actionlint to lint GitHub Actions workflow files
        entry: actionlint
        language: golang
        # This dependency can't be updated with 'pre-commit autoupdate'. Please bump it manually when necessary.
        additional_dependencies: [github.com/rhysd/actionlint/cmd/actionlint@v1.6.24]
        types: [ "yaml" ]
        files: "^.github/workflows/"

ROX-34562: Delete declarative config reconciliation from fleetshard-sync
  dev/config/gitops-config.yaml
  fleetshard/pkg/central/reconciler/argo_reconciler.go
  fleetshard/pkg/central/reconciler/argo_reconciler_test.go
  fleetshard/pkg/central/reconciler/reconciler.go
  fleetshard/pkg/central/reconciler/reconciler_test.go
  fleetshard/pkg/runtime/runtime.go
  internal/central/pkg/api/private/api/openapi.yaml
  internal/central/pkg/api/private/model_managed_central_all_of_spec.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_groups.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_oidc.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_required_attributes.go
  internal/central/pkg/gitops/config.go
  internal/central/pkg/gitops/config_test.go
  internal/central/pkg/presenters/managedcentral.go
  openapi/fleet-manager-private.yaml
Due: generated-files

Fix review comments
  fleetshard/pkg/central/reconciler/reconciler_test.go
  fleetshard/pkg/central/reconciler/util.go
Due: none

ROX-34562: Delete the declarative config reconciliation from fleetshard-sync (#2696)
  dev/config/gitops-config.yaml
  fleetshard/pkg/central/reconciler/argo_reconciler.go
  fleetshard/pkg/central/reconciler/argo_reconciler_test.go
  fleetshard/pkg/central/reconciler/reconciler.go
  fleetshard/pkg/central/reconciler/reconciler_test.go
  fleetshard/pkg/central/reconciler/util.go
  fleetshard/pkg/runtime/runtime.go
  internal/central/pkg/api/private/api/openapi.yaml
  internal/central/pkg/api/private/model_managed_central_all_of_spec.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_groups.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_oidc.go
  internal/central/pkg/api/private/model_managed_central_all_of_spec_additional_auth_provider_required_attributes.go
  internal/central/pkg/gitops/config.go
  internal/central/pkg/gitops/config_test.go
  internal/central/pkg/presenters/managedcentral.go
  openapi/fleet-manager-private.yaml
Due: generated-files

chore(deps): bump golang version to 1.26
  .github/workflows/aws-integration.yaml
  .github/workflows/ci.yaml
  .github/workflows/emailsender-central-compatibility.yaml
  .golangci.yml
  .openshift-ci/e2e-runtime/Dockerfile
  CLAUDE.md
  Dockerfile
  README.md
  emailsender/Dockerfile
  go.mod
  probe/Dockerfile
  tools/go.mod
Due: actionlint

Bump pre-commit
  .pre-commit-config.yaml
Due: none

Fix govet
  internal/central/pkg/services/central.go
  pkg/handlers/framework.go
  pkg/shared/handle_error.go
Due: generated-files

Remove shadowutils as it's already present
  Dockerfile
  emailsender/Dockerfile
  probe/Dockerfile
Due: none

chore(deps): bump golang version to 1.26 (#2712)
  .github/workflows/aws-integration.yaml
  .github/workflows/ci.yaml
  .github/workflows/emailsender-central-compatibility.yaml
  .golangci.yml
  .openshift-ci/e2e-runtime/Dockerfile
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  emailsender/Dockerfile
  go.mod
  internal/central/pkg/services/central.go
  pkg/handlers/framework.go
  pkg/shared/handle_error.go
  probe/Dockerfile
  tools/go.mod
Due: generated-files, actionlint

chore: add repo-specific CodeRabbit config and enable auto reviews
  .coderabbit.yaml
  .github/pull_request_template.md
Due: none

chore: add repo-specific CodeRabbit config and enable auto reviews (#2713)
  .coderabbit.yaml
  .github/pull_request_template.md
Due: none

Bump snyk-check task
  .tekton/base-acscs-pipeline.yaml
Due: none

Use -0 latest version
  .tekton/base-acscs-pipeline.yaml
Due: none

chores: Bump snyk-check task (#2737)
  .tekton/base-acscs-pipeline.yaml
Due: none

Fix audit-logs tls hostname mismatch
  fleetshard/config/config.go
Due: none

Migrate from deprecated oc-installer to openshift-tools-installer
  .github/workflows/multicluster-e2e.yaml
Due: actionlint

ROX-35945: Fix audit-logs tls hostname mismatch (#2762)
  fleetshard/config/config.go
Due: none

Migrate from deprecated oc-installer to openshift-tools-installer (#2763)
  .github/workflows/multicluster-e2e.yaml
Due: actionlint

fix(e2e): Improve retry logic after the cluster provisioning
  .openshift-ci/tests/e2e-test.sh
  dev/env/scripts/bootstrap.sh
  dev/env/scripts/lib.sh
Due: none

fix(e2e): Improve retry logic after the cluster provisioning (#2778)
  .openshift-ci/tests/e2e-test.sh
  dev/env/scripts/bootstrap.sh
  dev/env/scripts/lib.sh
Due: none

ROX-35081: Fix infinite loop when API returns empty page in pagination
  internal/central/pkg/cmd/admin/centrals/report.go
Due: none

Review remarks
  internal/central/pkg/cmd/admin/cmd.go
Due: none

Delete probe client
  probe/pkg/fleetmanager/client.go
Due: none

ROX-35081: Add instance report admin command
  cmd/acsfleetctl/main.go
  cmd/fleet-manager/main.go
  internal/central/pkg/api/admin/private/api/openapi.yaml
  internal/central/pkg/api/admin/private/model_central.go
  internal/central/pkg/cmd/admin/centrals/cmd.go
  internal/central/pkg/cmd/admin/centrals/list.go
  internal/central/pkg/cmd/admin/centrals/report.go
  internal/central/pkg/cmd/admin/centrals/report_test.go
  internal/central/pkg/cmd/admin/cmd.go
  internal/central/pkg/cmd/fleetmanagerclient/client.go
  internal/central/pkg/presenters/admin_central.go
  openapi/fleet-manager-private-admin.yaml
Due: generated-files

Fix silent errors in the apply script
  dev/env/scripts/apply
Due: none

Fix coderabbit review findings
  dev/env/scripts/apply
Due: none

ROX-36296: update version selector during delete
  fleetshard/pkg/central/reconciler/argo_reconciler.go
  fleetshard/pkg/central/reconciler/reconciler.go
  fleetshard/pkg/central/reconciler/reconciler_test.go
  fleetshard/pkg/k8s/constants.go
  fleetshard/pkg/testutils/k8s.go
Due: none

simplifications and more testing based on PR reviews
  fleetshard/pkg/central/reconciler/argo_reconciler.go
  fleetshard/pkg/central/reconciler/managed_db_reconciler.go
  fleetshard/pkg/central/reconciler/reconciler.go
  fleetshard/pkg/central/reconciler/reconciler_test.go
Due: none

Improve E2E tests resilience
  .openshift-ci/tests/e2e.sh
Due: none

ROX-35081: Add instance report admin command (#2764)
  .openshift-ci/tests/e2e.sh
  cmd/acsfleetctl/main.go
  cmd/fleet-manager/main.go
  dev/env/scripts/apply
  internal/central/pkg/api/admin/private/api/openapi.yaml
  internal/central/pkg/api/admin/private/model_central.go
  internal/central/pkg/cmd/admin/centrals/cmd.go
  internal/central/pkg/cmd/admin/centrals/list.go
  internal/central/pkg/cmd/admin/centrals/report.go
  internal/central/pkg/cmd/admin/centrals/report_test.go
  internal/central/pkg/cmd/admin/cmd.go
  internal/central/pkg/cmd/fleetmanagerclient/client.go
  internal/central/pkg/presenters/admin_central.go
  openapi/fleet-manager-private-admin.yaml
  probe/pkg/fleetmanager/client.go
Due: generated-files

ROX-35081: Add instance report admin command
  .tekton/acs-instance-report-pipeline.yaml
Due: none

Pin acs-fleet-manager image [postreview]
  .tekton/acs-instance-report-pipeline.yaml
Due: none

Address review comments
  .tekton/acs-instance-report-pipeline.yaml
Due: none

ROX-35081: Add weekly ACS instance report pipeline (#2752)
  .tekton/acs-instance-report-pipeline.yaml
Due: none

ROX-36296: update version selector during delete (#2773)
  fleetshard/pkg/central/reconciler/managed_db_reconciler.go
  fleetshard/pkg/central/reconciler/reconciler.go
  fleetshard/pkg/central/reconciler/reconciler_test.go
  fleetshard/pkg/k8s/constants.go
  fleetshard/pkg/testutils/k8s.go
Due: none

Switch to periodic konflux retest
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

ROX-34722: Switch to periodic konflux retest (#2786)
  .github/workflows/konflux-auto-retest.yml
Due: actionlint

Test Konflux peirodic retest
  Dockerfile
Due: none

chore: change central compat test to roxie
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/central-values.yaml
  scripts/ci/central_compatibility/roxie-config.yaml
  scripts/ci/central_compatibility/run_compatibility_test.sh
Due: actionlint

bump to latest (0.4.11)
  .github/workflows/emailsender-central-compatibility.yaml
  scripts/ci/central_compatibility/roxie-config.yaml
Due: actionlint

change billing admin endpoints to allow setting fields to empty string
  .pre-commit-config.yaml
  internal/central/pkg/api/admin/private/api/openapi.yaml
  internal/central/pkg/api/admin/private/model_central_billing_change_request.go
  internal/central/pkg/api/admin/private/model_central_subscription_change_request.go
  internal/central/pkg/services/central.go
  openapi/fleet-manager-private-admin.yaml
Due: generated-files
